<%- include('header.ejs') -%>

  <body>
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-column">
            <!--Première colonne-->
            <h3>Ressources</h3>
            <p>Cartes cadeaux</p>
            <p>Trouver un magasin</p>
            <p>LocFit Journal</p>
            <p>Devenir membre</p>
            <p>Réduction pour étudiants</p>
            <p>Commentaires</p>
            <p>Codes promo</p>
          </div>
          <div class="footer-column">
            <!--Deuxième colonne-->
            <h3>Aide</h3>
            <p>Statut de la commande</p>
            <p>Expédition et livraison</p>
            <p>Retours</p>
            <p>Modes de paiement</p>
            <p>Nous contacter</p>
            <p>Avis</p>
            <p>Aide - Code promo LocFit</p>
          </div>
          <div class="footer-column">
            <!--Troisième colonne-->
            <h3>Entreprises</h3>
            <p>À propos de LocFit</p>
            <p>Actualités</p>
            <p>Carrières</p>
            <p>Investisseurs</p>
            <p>Développement durable</p>
            <p>Accessibilité : partiellement conforme</p>
            <p>Mission</p>
          </div>

          <div class="footer-column footer-socials">
            <h3>Notre application</h3>
            <div id="app_footer">
            <a href="/"><img src="/img/png_icon/locfit_logo.png" alt="Logo de LocFit" id="locfit_logo_footer"></a>
            <a href="https://www.decathlon.fr/" id="dl_link">Télécharger l'application</a></div>

            <h3>Suivez-nous !</h3>
            <div class="footer-contact">
              <a href="https://www.instagram.com" target="_blank"><img src="img/svg_icon/instagram.svg" alt="Instagram"
                  class="social-icon"></a>
              <a href="https://www.facebook.com" target="_blank"><img src="img/svg_icon/facebook.svg" alt="Facebook"
                  class="social-icon"></a>
              <a href="https://www.youtube.com" target="_blank"><img src="img/svg_icon/youtube.svg" alt="YouTube"
                  class="social-icon"></a>
            </div>
          </div>

        </div>
        <div class="footer-content">
          <p>
            © 2024 LocFit, Inc. Tous droits réservés.</p><p> Guides | Conditions d'utilisation | Conditions générales de vente
            | Informations sur l'entreprise | Politique de confidentialité et de gestion des cookies | Paramètres de
            confidentialité et de cookies
          </p>
        </div>
        <div class="footer-content">






        </div>
      </div>
      </div>
    </footer>
  </body>

  </html>
