<%- include("header") -%>
<%- include("nav") -%>
<main>
    <div class="lp_title">
        <div class="lp_title_text">
            <h1>LocFit</h1>
            <h2>Location de matériel sport/fitness</h2>
            <h3>Le sport, c'est la clé. Louez, bougez, respirez !</h3>
        </div>
        <img src="/img/lp/lp_photo.png">
    </div>

    <div class="lp_categories">
        <a href="/catalogue/tapisdc">
            <div class="run">
                <img src="/img/equipement/7.webp">
                <p>Running</p>
            </div>
        </a>
        <a href="/catalogue/musculation">
            <div class="musc">
                <img src="/img/equipement/1.webp">
                <p>Musculation</p>
            </div>
        </a>
        <a href="/catalogue/velo">
            <div class="bike">
                <img src="/img/equipement/12.webp">
                <p>Vélo d'intérieur</p>
            </div>
        </a>
    </div>

    <div class="lp_products">
        <h2>Nos locations</h2>
        <div class="lp_products_list">
            <div class="lp_product">
                <img src="/img/lp/lp_product01.png">
                <h3>Tapis de course pliant bodystone AR600SM-G</h3>
                <p>5€ par jour</p>
                <p>Tapis de course</p>
                <p>Quimper (29)</p>
            </div>
            <div class="lp_product">
                <img src="/img/lp/lp_product01.png">
                <h3>Tapis de course pliant bodystone AR600SM-G</h3>
                <p>5€ par jour</p>
                <p>Tapis de course</p>
                <p>Quimper (29)</p>
            </div>
            <div class="lp_product">
                <img src="/img/lp/lp_product01.png">
                <h3>Tapis de course pliant bodystone AR600SM-G</h3>
                <p>5€ par jour</p>
                <p>Tapis de course</p>
                <p>Quimper (29)</p>
            </div>
            <div class="lp_product">
                <img src="/img/lp/lp_product01.png">
                <h3>Tapis de course pliant bodystone AR600SM-G</h3>
                <p>5€ par jour</p>
                <p>Tapis de course</p>
                <p>Quimper (29)</p>
            </div>
        </div>
    </div>
</main>
<%- include("footer") -%>