<%- include("header") -%>
<%- include("nav") -%>
<head>
    <link rel="stylesheet" href="css/login.style.css">
</head>
<main>
    <form method="POST" action="/login">
        <div class="login-content">
            <div>
                <label for="login">Nom d'utilisateur :</label>
                <input type="text" id="login" name="login" placeholder="Entrer votre nom d'utilisateur" required />
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Entrer votre mot de passe" required />
            </div>
            <div>
                <button type="submit" class="login-button">Se connecter</button>
            </div>
            <div>
                <a href="/forgot-password">Mot de passe oublié ?</a>
            </div>
            <div>
                <a href="/register">Créer un compte</a>
            </div>
        </div>
    </form>
</main>
