<%- include("header") -%>
<main>
	<form method=”POST” action=”/login”>
		<input type=”text” name=”login” />
		<input type=”password” name=”password” />
		<button type=”submit” value="Envoyer"/>
	</form>
</main>