<nav>
    <a href="/"><img src="/img/locfit_logo.png" alt="Logo de LocFit" id="locfit_logo"></a>
    <form class="searchForm" role="search">
        <input class="searchBar" type="search" placeholder="Rechercher sur LocFit" aria-label="Faire une recherche sur LocFit">
        <button class="btn formbtn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
          <path d="M0 14.94C0 2.63691 2.63691 0 14.94 0H30.06C42.3631 0 45 2.63691 45 14.94V30.06C45 42.3631 42.3631 45 30.06 45H14.94C2.63691 45 0 42.3631 0 30.06V14.94Z" fill="white" id="searchbckg"/>
          <path d="M27.2663 27.255L36 36M30.2222 20.1111C30.2222 25.6953 25.6953 30.2222 20.1111 30.2222C14.5269 30.2222 10 25.6953 10 20.1111C10 14.5269 14.5269 10 20.1111 10C25.6953 10 30.2222 14.5269 30.2222 20.1111Z" stroke="#767676" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" id="searchicon"/>
        </svg></button>
      </form>

      <a href="/login"><img src="/img/svg_icon/profile.svg" alt="Profil utilisateur" class="navicon"></a>
      <a href="/panier"><img src="/img/svg_icon/panier.svg" alt="Panier" class="navicon panier"></a>
  
</nav>