<%- include("header") -%>
<%- include("nav") -%>

<container class="hdp">  
<div>
    <div class="retour">
        <img id="back" src="../img/retour.png" alt="Flèche de retour">
        <p>Retour</p>
    </div>
    <img id="produit" src='../img/image_56.png' alt='tapis de course'/>
</div>
<div id="desc">
    <h3 class="name">
        TAPIS DE COURSE K4000
    </h3>
    <p class="indic">
        Informations sur le produit 
    </p>
    <div class="cont">
        <p class="textcont">Tapis de course polyvalent</p>
    </div>
    <p class="indic">
        Tarif à la journée 
    </p>
    <div class="cont">
    <p class="textcont"> 5€/jour</p>
    </div>
    <p class="indic">
        Catégorie
    </p>
    <div class="cont">
        <p class="textcont">Running</p>
    </div>
</div>
<div id="infos">
    <p class="txt">Disponible dans plus de 20 magasins en France</p>
    <div id="starz">
        <span class="etoile">&#9733</span>
        <span class="etoile">&#9733</span>
        <span class="etoile">&#9733</span>
        <span class="etoile">&#9733</span>
        <span class="etoile">&#9733</span>
    </div>
    <p class="txt">Note : 4/5</p>
    <p class="txt atouts">Atouts majeurs du produit :</p>
    <ul>
        <li>Simple d'utilisation</li>
        <li>Sécurisant</li>
        <li>Entrainement personnalisé</li>
    </ul>
    <button id="addtocart"> Ajouter au panier</button>
</div>
</container>
<container id="part2">
    <h2>Description du Produit</h2>
</container>
<%- include("footer") -%>