<%- include("header") -%>
<%- include("nav") -%>

<div>
    <img src="" alt=""/>
</div>
<div>
    <h3>
        Produit
    </h3>
    <p>
        Prix : 
    </p>
</div>
<div>
    
</div>
<%- include("footer") -%>