<%- include("header") -%>
<%- include("nav") -%>

<container class="hdp">  
<div>
    <img src='../public/img/image_56.png' alt='tapis de course'/>
</div>
<div>
    <h3 class="products">
        TAPIS DE COURSE K4000
    </h3>
    <p>
        Informations sur le produit 
    </p>
    <p id="price">
        Prix : 
    </p>
</div>
</container>
<div>
    
</div>
<%- include("footer") -%>