<%- include("header") -%>
<%- include("nav") -%>

<container class="hdp">  
<div>
    <div class="retour">
        <img id="back" src="../img/retour.png" alt="Flèche de retour">
        <p>Retour</p>
    </div>
    <img id="produit" src='../img/image_56.png' alt='tapis de course'/>
</div>
<div id="desc">
    <h3 class="name">
        TAPIS DE COURSE K4000
    </h3>
    <p class="indic">
        Informations sur le produit 
    </p>
    <div class="cont">
        <p class="textcont">Tapis de course polyvalent</p>
    </div>
    <p class="indic">
        Tarif à la journée 
    </p>
    <div class="cont">
    <p class="textcont"> 5€/jour</p>
    </div>
    <p class="indic">
        Catégorie
    </p>
    <div class="cont">
        <p class="textcont">Running</p>
    </div>
</div>
<div id="infos">
    <p class="txt">Disponible dans plus de 20 magasins en France</p>
    <div id="starz">
        <span class="etoile">&#9733</span>
        <span class="etoile">&#9733</span>
        <span class="etoile">&#9733</span>
        <span class="etoile">&#9733</span>
        <span class="etoile">&#9733</span>
    </div>
    <p class="txt">Note : 4/5</p>
    <p class="txt atouts">Atouts majeurs du produit :</p>
    <ul>
        <li>Simple d'utilisation</li>
        <li>Sécurisant</li>
        <li>Entrainement personnalisé</li>
    </ul>
    <button id="addtocart"> Ajouter au panier</button>
</div>
</container>
<div class="partdeux">
    <h2 id="parti2">Description du Produit</h2>
    <p id="titreprod">TAPIS DE COURSE CONNECTE RUN500 - pliage compact - inclinaison motorisée
    </p>
    <p id="descriptiondetail">Le tapis de course RUN500 a été conçu pour les sportifs exigeants qui souhaitent un produit performant en usage et facile à ranger après l'entraînement.
        Tapis de course performant allant jusqu'à 16km/h et inclinaison motorisée à 10%, connecté aux meilleures applications de pratique. Sans montage et avec un pliage compact pour un rangement facile.</p>
        <img id="picto-desc" src="../img/picto-desc.png" alt="description détaillée du produit en images">
</div>


<%- include("footer") -%>