<%- include("header") -%>
<%- include("nav") -%>

<container class="hdp">  
<div>
    <div class="retour">
        <img id="back" src="../img/retour.png" alt="Flèche de retour">
        <p>Retour</p>
    </div>
    <img id="produit" src='../img/image_56.png' alt='tapis de course'/>
</div>
<div>
    <h3 class="name">
        TAPIS DE COURSE K4000
    </h3>
    <p>
        Informations sur le produit 
    </p>
    <p id="price">
        Prix : 
    </p>
</div>
</container>
<div>
    
</div>
<%- include("footer") -%>