<%- include("header") -%>
    <%- include("nav") -%>
    <head>
        <link rel="stylesheet" href="css/productadd.style.css">
    </head>
        <form method="POST" action="/productAdd">
            <div class="productadd-content">
                <div>
                    <label for="type">Type de machine :</label>
                    <select id="type" name="type" required>
                        <option value="tapisdc">Tapis de course</option>
                        <option value="velo">Vélo elliptique</option>
                        <option value="musc">Machine de musculation</option>
                    </select>
                </div>
                <div>
                    <label for="description">Description :</label>
                    <input type="text" id="description" name="description"
                        placeholder="Entrez la description du produit" required />
                </div>
                <div>
                    <label for="marque">Marque :</label>
                    <input type="text" id="marque" name="marque" placeholder="Entrez la marque du produit" required />
                </div>
                <div>
                    <label for="modele">Modèle : </label>
                    <input type="text" id="modele" name="modele" placeholder="Entrez le modele/nom du produit"
                        required />
                </div>
                <div>
                    <label for="prix_location">Prix de la location au mois : </label>
                    <input type="number" id="prix_location" name="prix_location"
                        placeholder="Entrez le prix de la location" />
                </div>
                <div>
                    <button type="submit" class="productadd-button">Ajouter le produit</button>
                </div>
            </div>
        </form>
        </main>

        <%- include("footer") -%>