.retour {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    width: fit-content;
}

.retour>h3 {
    padding-left: 0.5rem;
}

.cat_list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    height: 99%;
    width: 99%;
}

.cat_item {
    width: 80%;
    height: 250px;
    background-color: #F8F2FF;
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: space-between;
    align-items: center; 
}
.cat_item>img {
    width: 315px;
    object-fit: cover;
    background: radial-gradient(50% 50% at 50% 50%, rgba(156, 128, 254, 0.15) 0%, #FFF 82%);
    margin-right: 1.5rem;
}

.cat_nfo {
    width: auto;
    margin-left: 0.5rem;
}

.cat_price {
    margin-left: auto;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 1rem;
}

.cat_price>button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    background: #8275C5;
    padding: 0.5rem;
    color: white;
    transition: all 0.3s ease;
    width: fit-content;
}

.cat_price>button:hover {
    color: black;
    background-color: white;
}

.cat_dispo {
    background-color: #EDDFFE;
    padding: 1rem;
    font-size: 0.8rem;
}

.cat_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button.refuser-location{
    margin-top: 5px;
}