/* Fonts */

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

h4{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}


/*Navigation*/
nav{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid black;
  padding-left: 60px;
  padding-right: 60px;
}

nav>form>input{
  border-radius: 29px;
  background: #F0E3FF;
  height: 60px;
  width: 570px;
  stroke: none;
  padding-left: 20px;
  border: none;
  font-size: 18px;
  color: #333;
  transition: all 0.3s ease;
}

nav > form > input:hover {
  background-color: #E6D5FF;
}


nav>form {
  width: 570px;
  display: flex;
  position: relative;
  align-items: center;
}

/* Bouton barre de recherche  */

.formbtn{
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#searchicon{
  transition: all 300ms ease;
}

#searchbckg{
  transition: all 300ms ease;
}

.formbtn :hover #searchicon{
  stroke: black;
}

.formbtn :hover #searchbckg{
  fill: #E2E2E2;
}

nav > form > input:focus {
  outline: none;
  box-shadow: none;
}

nav>a>img{
  height: 80px;
  margin-right: 50px;
}

.navicon{
  height: 60px;
}

.panier{
  margin-left: -150px;
  right: 80px;
}

