.hdp {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


.partdeux{
    margin-left: 100px;
    border-top: 1px solid #000000;  
}

.name{
    background-color: #D8D7D7;
    border-radius: 7px;
    width: 110%;
    text-align: center;
}

.textcont{
    margin-left: 10px;
    margin-right: 10px;
}

#produit{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 60px;
}

.retour{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

#back{
    margin-top: 14px;
    width: 60px;
    height: 30px;
    margin-right: 8px;
}

#desc{
    margin-top: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.cont{
    background-color: #D8D7D7;
    border-radius: 10px;
    display: inline-block;
}

.indic{
    font-weight: bold;
}

#infos{
    flex-direction: row;
    justify-content: flex-end;
    width: 400px;
    margin-left: 150px;
    margin-top: 70px;
    margin-right: 50px;
    background-color: #D8D7D7;
    border-radius: 20px;
    font-family: "Poppins";
    font-weight: 650;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.etoile{
    font-size: 50px;
    color: rgb(211, 181, 14);
}

#starz{
    margin-left: 10px;
}

.txt{
    margin-left: 10px;
}


#addtocart{
    flex-direction: row;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    height: 63px;
    border-radius: 20px;
    background-color: #8275c5;
    color: antiquewhite;
    font-size: large;
    font-family: "Poppins";
    font-weight: 600;
}

#titreprod{
    font-weight: bold;
}

#descriptiondetail{
    font-weight: 600;
    max-width: 600px;
}