.hdp {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.name{
    background-color: #D8D7D7;
    border-radius: 7px;
    width: 110%;
    text-align: center;
}

#price{

}

#produit{
    margin-left: 30px;
    margin-top: 30px;
}

.retour{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

#back{
    margin-top: 14px;
    width: 60px;
    height: 30px;
    margin-right: 8px;
}

#desc{
    margin-top: 70px;
}

.cont{
    background-color: #D8D7D7;
    border-radius: 10px;
}