.register-content {
  align-items: center;
  background-color: #E9E8E8;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.register-content label {
  margin-bottom: 3px;
}


.register-content input {
  width: auto;     
  padding: 15px;       
  font-size: 12px; 
  border: 1px solid #ccc
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;  
}

.register-content div {
  display: flex;
  flex-direction: column;
  margin-bottom: -5px; 
}

.register-button {
  margin: 20px auto 0 auto;
  padding: 10px 15px;
  background-color: #8275C5;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 150px;
}

main{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}