/*Navigation*/
nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    
}

nav>form>input{
    border-radius: 29px;
    background: #F0E3FF;
    height: 60px;
    width: 570px;
    stroke: none;
    
}
nav>form>input :hover{
    background-color: #F8F2FF;
}

.btn :hover{
    fill: grey;
}


/*Footer*/

